<!DOCTYPE html>
<html>
<head>
    <title>Swagger UI</title>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link href='static/css/highlight.default.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='static/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="static/lib/shred.bundle.js"></script>
    <script src='static/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
    <script src='static/lib/jquery.slideto.min.js' type='text/javascript'></script>
    <script src='static/lib/jquery.wiggle.min.js' type='text/javascript'></script>
    <script src='static/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
    <script src='static/lib/handlebars-1.0.0.js' type='text/javascript'></script>
    <script src='static/lib/underscore-min.js' type='text/javascript'></script>
    <script src='static/lib/backbone-min.js' type='text/javascript'></script>
    <script src='static/lib/swagger.js' type='text/javascript'></script>
    <script src='static/swagger-ui.js' type='text/javascript'></script>
    <script src='static/lib/highlight.7.3.pack.js' type='text/javascript'></script>
    <script type="text/javascript">
        $(function () {
            window.swaggerUi = new SwaggerUi({
                    {% if config.SWAGGER_CONF %}
                    {%- for k, v in config.SWAGGER_CONF.items() %}
                        {{k}}: {{dump(v)|safe}},
                    {% endfor -%}
                    {% endif %}

                    url: "/api/api-docs.json",
                            dom_id: "swagger-ui-container",
                        supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
                        onComplete: function(swaggerApi, swaggerUi){
                    log("Loaded SwaggerUI")
                    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                },
                    onFailure: function(data) {
                        log("Unable to Load SwaggerUI");
                    },
                    docExpansion: "none"
                });

                $('#input_apiKey').change(function() {
                    var key = $('#input_apiKey')[0].value;
                    log("key: " + key);
                    if(key && key.trim() != "") {
                        log("added key " + key);
                        window.authorizations.add("key", new ApiKeyAuthorization("api_key", key, "query"));
                    }
                })
                window.swaggerUi.load();
            });

    </script>
</head>

<body>
<div id='header'>
    <div class="swagger-ui-wrap">
        <h1>{{config.PROJECT_NAME}}
            {% if config.SWAGGER_SHOW_APIKEY %}
            <label for="input_apiKey">{{config.SWAGGER_CONF.get('apiKeyName','apiKey')}}</label> <input type="text" size="50" id="input_apiKey" />
            <button type="button" onclick="updateAPIKey()">Set</button>
            {% endif %}
    </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">
    &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">

</div>

</body>

</html>
